.c-container
  width: 100%
  max-width: 1440px
  margin: 0 auto
a
  text-decoration: none
ul
  list-style-type: none

.v-enter-active,
.v-leave-active 
  transition: opacity 0.5s ease
.v-enter-from,
.v-leave-to 
  opacity: 0

::-webkit-scrollbar 
  width: 10px
::-webkit-scrollbar-track
  background: $input-backgroud-light
::-webkit-scrollbar-thumb
  background: $input-backgroud-base
::-webkit-scrollbar-thumb:hover
  background: $input-backgroud-dark